<div class="row mt-3">
  <div class="col-12">
    <h3>A bubble map of all the powerplants in the country</h3>
    <p>Color is type of powerplant and size is the output level.</p>
    <div id="bubble-map">
    </div>
  </div>
</div>

<script src="scripts/bubble-map.js"></script>