<div class="row mt-3">
  <div class="col-12">
    <h3>A Scatter plot of NBA players' height vs weight</h3>
    <p>Color is based on the player's position. Size is based on the average points scored per game.</p>
    <div id="chart-test">
    </div>
  </div>
</div>