<div class="row mt-3">
  <div class="col-12">
    <h3>Small multiples (many, <em>many</em> multiples)</h3>
    <div id="chart-06">
    </div>
  </div>
</div>
<script type="text/javascript" src="scripts/chart-06.js"></script>