<div class="row mt-3">
  <div class="col-12">
    <h3>A choropleth map of the 2016 election</h3>
    <div id="choropleth-map">
    </div>
  </div>
</div>

<script src="scripts/choropleth-map.js"></script>