---
headline: "This is a really terrible portfolio page that technically satisfies the homework requirement"
subhead: "(i'm working on a real one don't worry)"
published_date: "hopefully never"
site: "http://www.littlecolumns.com"
siteName: "Little Columns"
url: "http://littlecolumns.com/learn/d3-javascript-tooling/"
kicker: "Portfolio 01"
author:
    name: "By Lindsey Feingold"
analytics": ""
---
<!-- 
  This line means, use default.hbs layout from src/html/layouts/
-->

{{!< default}}

<div class="story-body">

<p><a href="sample.hbs">ai2html project</a></default>
<p><a href="project1.hbs">d3 project 1</a></default>
<p><a href="project2.hbs">d3 project 2</a></default>

</div>
