---
headline: "New York City's Highest Paid Employees Come From the Same Few Organizations"
subhead: "Shocker: Bill De Blasio isn't the highest paid employee"
published_date: "October 12, 2019"
site: "http://www.littlecolumns.com"
siteName: "Little Columns"
url: "http://littlecolumns.com/learn/d3-javascript-tooling/"
kicker: "d3 project 2"
author:
    name: "By Lindsey Feingold"
analytics": ""
---
<!-- 
  This line means, use default.hbs layout from src/html/layouts/
-->

{{!< default}}

<div class="story-body">
<p><a href="index.hbs">Go Back</a></default>
</div> <br><br>


  <div class="story-body">
      <p class="body-text">This analysis was done by using open source data of the city's payroll from 2014 through 2018. </p>
      <p class="body-text">The majority of these employees work in Manhattan, followed by Queens and then Brooklyn. An interesting finding is that a minority of employees work outsite of New York City, such as in update New York. A smaller group works out of state, including in Delaware and Washington D.C.</p>
      <p class="body-text">The top two highest paid New York City public employees are both involved with education. Five out of the top 10 highest paid employees work for the Office of the Comptroller (where the Chief Financial Officer for the city works, partially in charge of the city's money). Mayor Bill De Blasio is the 10th highest paid employee.</p>
      <p class="body-text">See more in the chart below:</p>
      <br>
      </div>


  {{> story/bar_chart1 }}


  <div class="story-body">
        <p class="body-text">The highest salaries per agency (paid per annum) vary greatly. Many community boards are on the lower end of this scale, while large city government agencies such as the Law Department, Office of the Actuary, and the Campaign Finance Board are on the higher end of this scale.</p>
        <p class="body-text">19 out of the lowest 20 max salaries are from community boards. On the other hand, six of the agencies with the highest max salaries are related to education in some way. The lowest max salary is from the Manhattan Community Board at $50,000. The highest max salary is from the Department of Ed Pedagogical, at $345,000 (this also references the top paid person in the entire public sector per annum).</p>
      </div>
    
