<div id="thing">
    <div class="sticky" style= "text-align: right"><img src="images/knight.png"></div>
    <h2><center>Alignments Broken Down</center></h2>
    {{!-- <p>I have the <code>script</code> tag that points to <code>chart-01.js</code> inside of this partial</p> --}}
    <center><div id="chart-1"></div></center>
</div>

<script src="scripts/chart-01.js"></script>
