<div class="story-body">
    <h2><center>Alignments!!</center></h2>
    {{!-- <p>I have the <code>script</code> tag that points to <code>chart-01.js</code> inside of this partial</p> --}}
    <center><div id="interactive_chart"></div></center>
</div>

<script src="scripts/interactive_chart.js"></script> 

<br><br><br><br><br>