<div class="story-body">

    <br><h2><center>Takeaway: people part of these programs are inherently good or neutral -- most of the time</center></h2>
    <center><div id="chart-sankey"><script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/sankey.js"></script>
</div></center>
</div>

<script src="scripts/chart-sankey.js"></script><br><br>