<div class="story-body">
  <p>Just in case it's difficult to see any of the images in the chart, here's a list of each category: Lily and Fahmida are lawful good. Amy, Domhnall, Elena C, Humera, Giovana, and Catharina are neutral good. Minami, Soma, and Harry are chaotic good. Andrew, Lindsey (me!), and Aseem are lawful neutral. Elena M, Max, Yi, and Satu are true neutral. Shaleen is chaotic evil. </p>
  <p>About 31 percent of the class is neutral good. On the opposite end, only about 5 percent of the class is chaotic evil, or any type of evil at all. To see more percentages, hover over each chart :) </p>
</div>