<div class="story-body">
  <p><a href="https://github.com/lindseyf96/storytelling_homework/tree/master/personal-project" target=_>Click here</a> for the source files to this project on Github.</p>
</div>