<div class="story-body">
  <p>The neutral category has the most people. However, it does exist on both axis, which could be a factor for that. 13 people have at least some neutrality ideals -- that's about 68 percent of everyone who took the test! 11 people have some good in them, five are lawful, four are chaotic, and one is evil. Overall, not too bad. Next up on my list: play D&D.</p>
  <p><a href="https://github.com/lindseyf96/storytelling_homework/tree/master/personal-project" target=_>Click here</a> to see the  project source files on Github.</p>
</div>