<div class="row">
  <div class="col-12">
    <h3>A bar chart about GDP around the world</h3>
    <p>
      <a class="btn btn-warning" id="asia">Asia</a>
      <a class="btn btn-warning" id="africa">Africa</a>
      <a class="btn btn-warning" id="northAmerica">North America</a>
      <a class="btn btn-warning" id="lowGDP">Low GDP countries</a>
      <a class="btn btn-warning" id="color">Color by continent</a>
      <a class="btn btn-warning" id="reset">Reset</a>
    <div id="bar-chart"></div>
  </div>
</div>
