<div class="row">
  <div class="col-12">
    <h3>A line chart about the APPL stock price</h3>
    <p>Hover over the points for more info.</p>
  </div>
  <div class="col-9">

    <!-- the div should go here -->
        <div id="line-chart"></div>


  </div>
  <div class="col-3 mt-4">
    <p></p>
  </div>
</div>
