<div class="story-body">
    <h2>Top 10 Highest Paid NYC Public Employees in 2018</h2>
    <p>Only per annum employees included</p>
    <div id="bar_chart1"></div>
</div>

<script src="scripts/bar_chart1.js"></script>