<div class="story-body">
    <h2>New Yorkers lose a lot of stuff on public transportation</h2>
    <p>Here's what the MTA catalogued per category</p>
    <div id="tree_map"></div>
</div>

<script src="scripts/tree_map.js"></script>